.lessonView {
    background-color: #333;
    border-radius: 10px;
    width: inherit;
}

.lessonView * {
    font-size: x-large;
    text-align: right;
    direction: rtl;
    padding: 2vh;
}

.lessonView * * {
    font-size: x-large;
    margin: auto;
    padding: 0;
}

.lessonView * * * {
    font-size: x-large;
    text-align: center;
    font-style: italic;
    margin: auto;
    white-space: pre;
    vertical-align: middle;
}

.hiddenView {
    visibility: hidden;
    display: none;
    height: 0;
}

.topBarIcon {
    vertical-align: middle;
    height: 7vh;
}

#messageView {
    background-color: #333;
    border-radius: 10px;
    width: inherit;
}

#messageView * {
    font-size: x-large;
    padding: 2vh;
}

#switcher {
    padding-bottom: 1vh;
}

#switcher * {
    width: 100%;
    align-items: center;
}

#switcher * * {
    display: inline-grid;
    background-color: #6789ab;
    color: #FFF;
    font-size: 150%;
    text-align: center;
    border-radius: 1vh;
    height: 8vh;
    width: 16vw;
    margin: 1vh;
}

#schedule {

}

#aboutView {
    margin: 2vh;
    padding: 4vh;
}

#top {
    vertical-align: top;
    border-radius: 10px;
    height: auto;
    width: auto;
    position: static;
    top: 1vw;
}

#bottom {
    position: absolute;
    vertical-align: bottom;
    height: auto;
    width: auto;
}

#menuIcons {
    height: inherit;
    padding: 1vh;
}

#corner {
    height: 14vh;
    width: 14vh;
    border-radius: 14vh 0 0 0;
    -moz-border-radius: 14vh 0 0 0;
    -webkit-border-radius: 14vh 0 0 0;
    position: fixed;
    bottom: 0;
    right: 0;

}

#cornerContent {
    display: grid;
    height: 11vh;
    width: 11vh;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1vh 0;
}

#cornerTop {
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
}

#cornerBottom {
    font-size: large;
    text-align: center;
    vertical-align: middle;
}

#popupInstall {
    background-color: #888888a0;
    border-radius: 10px;
    min-height: 14vh;
    padding: 1vh;
    margin: 1vh 0 0 0;
    width: inherit;
}

#installText {
    font-size: 175%;
}

#installYeah {
    background-color: #00AA0080;
    padding: 1.5vh;
    border-radius: 10px;
}

#installNah {
    background-color: #AA000080;
    padding: 1.5vh;
    border-radius: 10px;
}

html {
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

p,
a,
i {
    font-family: Arial, ArialHebrew, sans-serif;
    color: #FFF;
    vertical-align: middle;
    text-align: center;
    margin: 1vh;
}
